{% include "navbar.html" %}
{% include "main.html" %}

<div class="container">
        <!-- Container com Informacoes -->
    <div class="profile-links">
            <img class="card-img-top rounded-circle shadow bg-white" style="width: 150px" src="http://avatars.dicebear.com/api/open-peeps/stefan.svg" alt="...">
            <li><a style="font-size: 30px;">{{ nome_usuario }}</a></li>
            <li><a>2 periodo</a></li>
            <h3 class="mt-5">Sobre Mim</h3>
            <p class="text-justify">
              👨‍🎓 Estudante universitário apaixonado por ciência da computação na Cesar School. 📚🎓
               Explorando o mundo do conhecimento e buscando crescimento pessoal. 
              💡 Sempre aberto a novas conexões e oportunidades de aprendizado. Vamos conversar! 
              👋😊 #Aprendizado #Universidade #CrescimentoPessoal 🌟
        </p>
        </div>
        </div>
        <!-- Container Postagens -->
        <div class="container">
    
            <div class="profile-links">
               
                <li><a style="font-size: 70px;">Postagens</a></li>
               
                    
            </p>
            </div>
        </div>
    </div>
</div>