{% include "navbar.html" %}
{% include "main.html" %}

<div class="container">
        <!-- Container com Informacoes -->
    <div class="profile-links">
            <img class="card-img-top rounded-circle shadow bg-white" style="width: 150px" src="http://avatars.dicebear.com/api/open-peeps/stefan.svg" alt="...">
            <li><a style="font-size: 30px;">{{ nome }}</a></li>
            <li><a>{{ periodo }}</a></li>
            <h3 class="mt-5">Sobre Mim</h3>
            <p class="text-justify">
             {{ descricao }}
        </p>
        </div>
        </div>
        <!-- Container Postagens -->
        <div class="container">
    
            <div class="profile-links">
               
                <li><a style="font-size: 70px;">Postagens</a></li>
               
                    
            </p>
            </div>
        </div>
    </div>
</div>