{% include "main.html" %}

<style> body, html {
  height: 100%;
  margin: 0;
} </style>

<form action="{% url 'cadastro' %}" method="post">
  {% csrf_token %}
  <div class="container" style="text-align: center; background-color: #b8b7b7; padding: 35px; padding-bottom: 90px; width: 800px;">
       <h1 class="cadastro">Cadastro</h1>
        Nome <input name="username" class="form-control-sm" type="text" required>
        Email <input name="email" class="form-control-sm" type="email" required>
        Senha <input name="senha" class="form-control-sm" type="password" required>
        <button class="form-control-sm">Enviar</button>
  </div>
</form>