{% include "main.html" %}

<style> body, html {
  height: 100%;
  margin: 0;
} </style>

<div class="container" style="background-color: #b8b7b7; padding: 35px; padding-bottom: 90px; width: 800px; display: flex; flex-direction: column; justify-content: center; align-items: center;"> 
  <h1>E-mail já cadastrado</h1>
  <div style=" align-items: center; margin-top: 20px;">
  <img src="https://img.freepik.com/icones-gratis/aviso_318-519201.jpg" width="200" />
  </div>
  <br>
  <a href="{% url 'cadastro' %}" ><button type="button" class="btn btn-secondary" style="margin-top: 20px;">Voltar</button></a>
</div>