{% include "navbar.html" %}
{% include "main.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center">
            {% if resultados_pessoa %}
            <h2 class="text-center"> USUÁRIOS: </h2> <br>
            {% for pessoa in resultados_pessoa %}
            <div class="custom-card my-2">
                <img class="custom-img">
                <a href="{% url "acesso_pessoa" pessoa.id_usuario %}" class="custom-name" style="color: #000000"> {{ pessoa.nome }} </a>
            </div>
            <br>
            {% endfor %}
            {% else %} 
            <h2 class="text-center"> USUÁRIO NÃO ENCONTRADO!! </h2>
            {% endif %}
        </div>

        <div class="col-md-6 d-flex flex-column align-items-center">
            {% if resultados_grupo %}
            <h2 class="text-center"> GRUPOS: </h2> <br>
            {% for grupo in resultados_grupo %}
            <div class="custom-card my-2">
                <img class="custom-img">
                <a href="{% url "acesso_grupo" grupo.id_grupo %}" class="custom-name" style="color: #000000"> {{ grupo.nome_grupo }} </a>
            </div>
            <br>
            {% endfor %}
            {% else %} 
            <h2 class="text-center"> GRUPO NÃO ENCONTRADO!! </h2>
            {% endif %}
        </div>
    </div>
</div>