{% include "main.html" %}

<style> body, html {
  height: 100%;
  margin: 0;
} </style>


<div class="container" style="background-color: #b8b7b7; padding: 35px; padding-bottom: 90px; width: 800px; display: flex; flex-direction: column; justify-content: center; align-items: center;">  
  <h1>E-mail e/ou Senha Incorreta</h1>
  <div style=" align-items: center;">
  <img src="https://static.vecteezy.com/system/resources/previews/001/192/257/original/incorrect-sign-circle-png.png" width="200" />
  </div>
  <br>
  <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Voltar</button></a>
</div>